:root.theme-dark { 
  --header-color: #db00ff; 
  --accent-color-transparent: #ff007040; 
  --subtitle-color:#ff0070; 
  --accent-color-transparent: #ff007040; 
  --shadow-color: #ff0070; 
  --text-color: #000028; 
  --main-text-color: #f1b2ce; 
  --button-hover-col: #ff007066; 
 
  --background-color: #000028; 
  --background-image: url("../images/cover-image-dark.png"); 
} 
.theme-dark .rec { 
  display: block; 
} 

