
:root.theme-light { 
  --header-color: #ffc2e6; 
  --accent-color: #ff8dcb; 
  --subtitle-color:#353430; 
  --secondary-accent-color-opacity: #32312D66; 
  --shadow-color: #ff8dcb; 
  --text-color: #353430; 
  --main-text-color: #353430; 
  --button-hover-col: #32312d66; 
 
  --background-color: #fff1f7; 
  --background-image: url("../images/cover-image-light.png"); 
 
} 
.theme-light .rec { 
  display: none; 
} 
@media (prefers-color-scheme: light) { 
  :root { 
    --header-color: #ffc2e6; 
    --accent-color: #ff8dcb; 
    --subtitle-color:#353430; 
    --secondary-accent-color-opacity: #32312D66; 
    --shadow-color: #ff8dcb; 
    --text-color: #353430; 
    --main-text-color: #353430; 
    --button-hover-col: #32312d66; 
    --background-color: #fff1f7; 
    --background-image: url("../images/cover-image-light.png"); 
  } 
 
  .rec { 
    display: none; 
  } 
 
} 
